.background {
  @apply fixed top-0 left-0 w-screen h-screen overflow-hidden;

  z-index: -1;
  background: url(/assets/images/KG-Karta_WEB-outlines.jpg) no-repeat;
  background-position-y: bottom;
  background-size: cover;
}
